:root {
  --textColour: #ffffff;
  /* /* --backgroundColour: #270e05; */
  --backgroundColour: #000000;
}

h1 {
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
}

html {
  font-size: .8rem;
}

body {
  background-color: var(--backgroundColour);
  color: var(--textColour);
  margin-top: 0;
  font-family: Verdana, sans-serif;
}

.top_left_logo {
  border-radius: 50%;
  width: 10rem;
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 10rem 1fr;
  grid-template-areas:
    "header_logo header_text"
    "sidebar content";
  min-height: 98vh;
}

.item-header_logo {
  grid-area: header_logo;
}

.item-header_text {
  margin-top: 2rem;
  grid-area: header_text;
  font-size: 5rem;
  text-align: center;
}

.item-sidebar {
  grid-area: sidebar;
  margin-top: 3rem;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 1px solid var(--textColour);
}

.item-content {
  grid-area: content;
  font-size: 1.2rem;
}

.item-sidebar li {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.item-sidebar a {
  text-decoration: none;
  color: var(--textColour);
}

.content-container {
  padding-left: 1rem;
  padding-top: 3rem;
  line-height: 1.7rem;
}

.content-container a {
  color: lightgray
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-title {
  text-align: center;
  font-size: 2rem;
}