body {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .grid-container .heading{
    padding: 30px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
    grid-column: 1 / span 2;
  }

  .project img {
    max-width: 100%;
    min-width: 100%;
  }

  .project:hover{
    opacity:0.4;
    filter:alpha(opacity=40); 
    -webkit-opacity:0.4; 
    -moz-opacity:0.4;
  }

  .hide {
    display: none;
  }
  
  .project:hover > .hide {
    display: block;
  }