#map {
    height: 100vh;
}

.btns {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.btns a {
    display: block;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#fullScreenInfo {
    display: none;
}

@media (min-device-width: 680px) {
    .popupImage {
        width: 200px;
    }
    .description {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 200px;
    }
    .title {
        font-weight: bold;
    }

    .btns a {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-device-width: 680px) {
    #fullScreenInfo.visible {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9999;
        background-color: white;
        display: block;
    }

    .popupImage {
        padding: 1rem;
        max-width: 97%;
    }

    .description {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: xx-large;
    }
    .title {
        padding-top: 1rem;
        padding-left: 1rem;
        font-weight: bold;
        font-size: xx-large;
    }

    .btns {
        margin: 1rem;
        font-size: 24px;
    }

    .btns a {
        padding: 1rem;
    }
}